name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - '**'

jobs:
  test:
    name: Test on Node.js ${{ matrix.node }}

    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        node: [20, 22, 'lts/*']

    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}

      - run: npm ci

      - name: Test
        run: npm test
